services:
  task-service:
    build:
      context: ../
      dockerfile: task-service/Dockerfile
    container_name: vtec_task_service_local
    ports:
      - "4000:4000"
    restart: unless-stopped
    env_file:
      - .env.local
    volumes:
      # Mount source code for hot-reload
      - ./src:/services/task-service/src
      - ./prisma:/services/task-service/prisma
      
      # Exclude node_modules to prevent binary conflicts
      - /services/task-service/node_modules
      - /services/shared/node_modules
      
      # Exclude Prisma generated files
      - /services/task-service/node_modules/.prisma
      - /services/task-service/node_modules/@prisma
    command: sh -c "npx prisma generate && npm run dev"
    networks:
      - infra-service_local_network
    depends_on:
      - mysql
      - redis
      - rabbitmq

networks:
  infra-service_local_network:
    external: true
